<!DOCTYPE html>
<html>
    <head>
    	<title>Test Template</title>
        <link rel="shortcut icon" type="image/x-icon" href="img/icons/ff_favicon.ico" />
        <link rel="stylesheet" type="text/css" href="../css/styles.css" />
        <link rel="stylesheet" type="text/css" href="../css/bootstrap.css" />	
    </head>
    <!-- note: in a template, everything except the markup inside the body tags is ignored 
    	Use html and head tags, though, so you can test the template in a browser when creating
    -->
    <body>
		<h1>{{firstName}}{{middleName}}{{lastName}}</h1>
		
    </body>
</html>